* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #ffe6e6, #ffcccc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #f2f2f2;
}

section {
    text-align: center;
    margin: 40px 0;
}
